.ttl {
    font-size: 25px !important;
    font-weight: 400 !important;
   
}

.lstrw {
    font-size: 14px;
    color: rgb(114, 114, 114);
    padding: 10px;
}

.btnbg {
    color: white;
    background-color: rgb(47, 163, 61);
    margin-left: 5px;
    transition: 0.2s ease-in;
}

    .btnbg:hover {
        background-color: lightgray;
        color: rgb(0, 64, 7);
    }

table tr td .easy {
    background-color: rgb(47, 163, 61);
}

.hard {
    color: rgb(163, 47, 47);
}

.medium {
    color: rgb(163, 144, 47);
}

.type {
}

.ttl1 {
    font-size: 20px
}

.ctr {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    filter: drop-shadow(0 0 4px rgb(223, 223, 223));
}

.greybg {
    background-color: rgb(231, 231, 231);
    color: black;
    padding: 10px;
}

.dta {
    font-size: 16px;
    color: rgb(126, 126, 126);
}
#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        border: 6px solid #3498db;
        border-top-color: transparent;
        border-radius: 50%;
        animation: loader-spin 1s linear infinite;
    }

@keyframes loader-spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.tag {
    color: rgb(71, 71, 71);
    border: 2px solid rgb(47, 163, 61);
    
    background-color: rgb(231, 231, 231);
}

.ProgramLink {
    text-decoration: none;
    color: rgb(114, 114, 114);
    transition: 0.2s ease;
    font-size: 16px;
}

    .ProgramLink:hover {
        color: rgb(42, 42, 42);
        font-size:16px;
    }

.dta-sm {
    font-size: 14px;
}
.fa-eye {
    margin-right: 2px;
}
.highlight {
    max-height: 400px; /* set the maximum height of the div */
    overflow-y: auto; /* add a vertical scrollbar */
    background-color: rgb(238, 238, 238);
    color: rgb(81, 81, 81);
    font-size: 16px;
}

.ftLink {
    padding: 10px;
    text-decoration: none;
    color: white;
}

    .ftLink a {
        color: white;
    }
