<div class="container ctr">
	<div class="row">
		<div class="col-md-12 ttl">
			Program
		</div>
	</div>

	<div class="row">
		<div class="separator border-2 my-5" style="color: rgb(47,163,61);"></div>
	</div>

	<ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6">
		<li class="nav-item">
			<a class="nav-link " data-bs-toggle="tab" href="#kt_tab_pane_4">C</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_5">C++</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" data-bs-toggle="tab" href="#kt_tab_pane_6">java</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_5">Python</a>
		</li>

	</ul>

	<div class="col-md-12">

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="kt_tab_pane_4" role="tabpanel">
				<div class="py-5">
					<!--begin::Highlight-->
					<div class="highlight">
						<button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
						<div class="highlight-code">
							<pre class="language-html" style="height:400px;; font-size: 20px;">
<code class="language-html" style="font-size: 200%;">
 </code>
</pre>
						</div>
					</div>
					<!--end::Highlight-->
				</div>


			</div>
			
		</div>

	</div>
</div>