<div class="container ctr">
	<div class="row">
		<div class="col-md-12 ttl">
			Program
		</div>
	</div>

	<div class="row">
		<div class="separator border-2 my-5" style="color: rgb(47,163,61);"></div>
	</div>

	<ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6">
		@foreach (var item in ViewBag.LanguagesForslider)
		{
			<li class="nav-item">
				
				<a class="nav-link" asp-route-LanguageUrl="@item.LanguageUrl" asp-action="SolutionByProgramUrlLangaugeUrl" asp-controller="ProgramPage" data-bs-toggle="tab">@item.ProgrammingLangaugeName</a>
				<input type="hidden" name="LanguageUrl" value="@item.LanguageUrl" />
			</li>
		}		
	</ul>

	
					<partial name="/Views/ProgramPage/_SolutionByLangauge.cshtml" />
			</div>