@using System.Net;
@using Microsoft.AspNetCore.Html
<div class="container ctr">
    
    <div class="row">
        <div class="col-md-12 ttl">
            Test Case
        </div>
    </div>
    <div class="separator border-2 my-5" style="color: rgb(47,163,61);"></div>
    @{
        var i = 0;
    }
    @foreach (var item in ViewBag.TestCase)
    {
        i++;
        <div class="row">
       
    </div>
        <div class="col-md-12 dta" style="color: black;">
           @* @item.IsPositive*@
           Example @i
        </div>
    <div class="row">
        <div class="col-md-12 dta">
            <ul style="text-align: justify;">
                    @Html.Raw(WebUtility.HtmlDecode(item.TastCaseDescription))
            </ul>
        </div>
    </div>

    }
</div>  