@model ProgrammingCode.Areas.PRO_ProgramTestCase.Models.PRO_ProgramTestCaseModel

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title ">
            <span class="me-2"><i class="fa fa-search"></i></span> Search
            <small></small>
        </h3>
 
    </div>
    <div class="card-body">
        <form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
              data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
              asp-action="_SearchResult" asp-controller="PRO_ProgramTestCase" novalidate="novalidate" asp-area="PRO_ProgramTestCase">
            @Html.AntiForgeryToken()

            <div class="row">

                <div class="col-md-4">
                    <label >&nbsp;Program</label>
                    <div class="input-group">

                        <select class="form-select form-select-sm " data-allow-clear="true" tabindex="-1" asp-for="ProgramID" asp-items="@(new SelectList(ViewBag.ProgramcomboList,"ProgramID","Defination"))" data-control="select2" data-placeholder="Select Program" autofocus>
                            <option>select Program</option>
                        </select>

                        @Html.ValidationMessageFor(m => m.ProgramID,"", new { @class = "form-text text-danger" })
                    </div>
                </div>
               
            </div>
            
            <hr />
            
            <input type="submit" value="Submit" class="btn btn-success btn-sm" />
        </form>
    </div>
</div>