@model ProgrammingCode.Areas.SEC_User.Models.SEC_UserModel

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">
            <span class="me-2"><i class="fa fa-search"></i></span> Search
            <small></small>
        </h3>
 
    </div>
    <div class="card-body">
        <form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
              data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
              asp-action="_SearchResult" asp-controller="SEC_User" novalidate="novalidate" asp-area="SEC_User">
            @Html.AntiForgeryToken()

            <div class="row">
 
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-md-4 col-form-label "> User</label>
                        <div class="col-md">
                            <select class="form-select form-select-sm " data-allow-clear="true"  tabindex="-1" asp-for="UserID" asp-items="@(new SelectList(ViewBag.SelectUser,"UserID","UserName"))" data-control="select2" data-placeholder="Select User">
                                <option>select User</option>
                            </select>
                            @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "form-text text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            
            <input type="submit" value="Submit" class="btn btn-success btn-sm" />
        </form>
    </div>
</div>