@model ProgrammingCode.Areas.PRO_Program.Models.PRO_ProgramModel

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title fw-bolder">
            <span class="me-2"><i class="fa fa-search"></i></span> Search
            <small></small>
        </h3>
 
    </div>
    <div class="card-body">
        <form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
              data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
              asp-action="_SearchResult" asp-controller="PRO_Program" novalidate="novalidate" asp-area="PRO_Program">
            @Html.AntiForgeryToken()

            <div class="row">
                  <div class="col-md-4">
                    <div class="form-group" >
                        <label class="text-dark">Program</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                             <input type="text" asp-for="F_Defination" class="form-control" placeholder="Enter Program Defination " autofocus />
                        </div>
                        
                    </div>
                </div>
                 <div class="col-md-4" autofocus>
                    <label > Topic</label>
                    <div class="input-group" >
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                        <div class="overflow-hidden flex-grow-1">
                         <select class="form-select form-select-sm  "
														data-control="select2" data-placeholder="Select Topic"
														data-allow-clear="true" multiple=""
														data-select2-id="select2-data-12-kpd1" tabindex="-1"
														aria-hidden="true">
                            <option>select Topic</option>
														<option data-select2-id="select2-data-145-fc7n" class="">
														</option>
														<option value="Computers"
															data-select2-id="select2-data-146-oeuf">IF
															else</option>
														<option value="Watches" data-select2-id="select2-data-147-slnj">
															loop
														</option>
														<option value="Headphones"
															data-select2-id="select2-data-148-n5vw">Stack
														</option>
														<option value="Footwear"
															data-select2-id="select2-data-149-fwwg">Lists
														</option>
														<option value="Cameras" data-select2-id="select2-data-150-dvke">
															Quqeue
														</option>
														<option value="Shirts" data-select2-id="select2-data-151-30c3">
															Tree
														</option>
														<option value="Household"
															data-select2-id="select2-data-152-2ikt">
															hashing</option>
													</select>
                        </div>
                    </div>
                </div>
 
                 
            </div>

            <hr />
            
            <input type="submit" value="Submit" class="btn btn-success btn-sm" />
        </form>
    </div>
</div>