<div class="col-md-12" id="answer">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="kt_tab_pane_4" role="tabpanel">
            @foreach (var item in ViewBag.Solution)
            {
                string[] codeLines = item.ProgramSolution.Split('\n');
                <div class="highlight">
                    <button class="highlight-copy btn" data-bs-toggle="tooltip" title="Copy code">copy</button>
                    <div class="highlight-code">
                        <pre class="language-javascript" style="font-weight:900;font-size:17px">
                        <code class="language-javascript" style="font-weight:900;font-size:17px">
                                @foreach (var line in codeLines)
                                {
                                    string trimmedLine = line.TrimStart();
                                    <text>@Html.Raw(trimmedLine)</text>
                                }
                                </code> 
                            </pre>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!--begin::Highlight-->
<script src="https://cdn.jsdelivr.net/npm/prismjs@1.28.0/prism.js"></script>
<script>
    Prism.highlightAll();
</script>
