@using System.Net;
@using Microsoft.AspNetCore.Html
@model List<ProgrammingCode.DAL.MST.MST_ProgrammingLangauge.SelectPk_Result>
@foreach(var item in Model)
{
<div class="container ctr">
    <div class="row d-flex align-items-center">

        <div class="col-md-6 d-flex align-items-center ttl">
                <img src="@Url.Content(item.ProgrammingLangaugeLogo)" height="40px" width="40px">
                <span class="p-2">@item.ProgrammingLangaugeName</span>
        </div>
        <div class="col-md-6 d-flex justify-content-end" style="color: rgb(47, 163, 61); font-size: 16px;">
            515 Solutions
        </div>
    </div>
    <div class="row">
        <div class="separator border-2 my-5" style="color: rgb(47,163,61);"></div>
    </div>
    <div class="row">

        <div class="col-md-12 dta">
                @Html.Raw(WebUtility.HtmlDecode(item.ProgrammingLangaugeShortDescription))
              
        </div>
            <div class="col-md-12 dta">
                @Html.Raw(WebUtility.HtmlDecode(item.ProgrammingLangaugeDetailedDescription))
         
            </div>
    </div>
</div>
}