<div class="container ctr">
    <div class="row d-flex align-items-center">

        <div class="col-md-6 d-flex align-items-center ttl">
            <img src="assets/media/lang/python.png" height="40px" width="40px">
            C
        </div>
        <div class="col-md-6 d-flex justify-content-end" style="color: rgb(47, 163, 61); font-size: 16px;">
            515 Solutions
        </div>
    </div>
    <div class="row">
        <div class="separator border-2 my-5" style="color: rgb(47,163,61);"></div>
    </div>
    <div class="row">

        <div class="col-md-12 dta">
            <p>History of C language is interesting to know. Here we are going to discuss a brief history of the c language.</p>

            <b>Dennis Ritchie</b> is known as the founder of the c language.

            It was developed to overcome the problems of previous languages such as B, BCPL, etc.

            Initially, C language was developed to be used in UNIX operating system. It inherits many features of previous languages such as B and BCPL.
        </div>
    </div>
</div>