@using System.Net;
@using Microsoft.AspNetCore.Html
@model List<ProgrammingCode.DAL.MST.MST_ProgrammingLangauge.SelectAll_Result>
@{
	var LangaugeList = Model;
}


	<div class="container ctr">
		<div class="row">
			@foreach (var item in LangaugeList)
			{
				<div class="col-md-4">
					<div class="card card-flush">
						<div class="card-header">
							<h3 class="card-title">@item.ProgrammingLangaugeName</h3>
							<div class="card-toolbar">
								512 Solutions
							</div>
						</div>
						<div class="card-body dta dta-sm">
						@Html.Raw(WebUtility.HtmlDecode(item.ProgrammingLangaugeShortDescription.Length > 200 ? item.ProgrammingLangaugeShortDescription.Substring(0, 200) + "....." : item.ProgrammingLangaugeShortDescription))
						</div>
						<div class="card-footer">
							<div class="card-toolbar">
								@*<button type="button" class="">*@
								<a class="btn btn-sm btnbg"
						   asp-route-LanguageUrl="@item.LanguageUrl" asp-action="Index" asp-controller="LangaugePage">
							     Visit Langauge
								<input type="hidden" name="LanguageUrl" value="@item.LanguageUrl" />
								</a>
								@*</button>*@
							</div>
						</div>

					</div>
				</div>
			}
		</div>

	</div>

