<!--begin::Footer-->
<div class="footer" style="background-color: rgb(47, 163, 61); color: white;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 d-flex " style="padding: 40px; font-size:20px">
				<div class="col col-md-6">
					Programming-Code.com
				</div>
				<div class="col col-md-6">
					#CloudOfCode
				</div>
				 
			</div>
		</div>
	</div>
</div>
<!--end::Footer-->