<!--begin::Footer-->
<div class="footer" style="background-color: #1c2e4a; color: white;">
	<div class="container" style="padding-top: 40px; padding-bottom: 40px;">
		<div class="row">
			<div class="col-md-4">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 ttl1" style="color: rgb(233, 233, 233);">
							Stay Connected
						</div>
					</div>
					<div class="separator my-4"></div>
					<div class="row">
						<div class="col-md-12 dta dta-sm ftLink">
							<a href="#">Instagram</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 dta dta-sm ftLink">
							<a href="#">LinkedIn</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 dta dta-sm ftLink">
							<a href="#">Youtube</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 dta dta-sm ftLink">
							<a href="#">Gmail</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12 ttl1" style="color: rgb(233, 233, 233);">
							About Us
						</div>
					</div>
					<div class="separator my-4"></div>
					<div class="row">
						<div class="col-md-4" style="margin-bottom: 20px;">
							<img src="~/client/assets/media/logos/DU-logo.svg" alt="Darshan University Logo">
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-7 dta dta-sm" style="color:white;">
							<p>
								Programming-Code is an Initiative by Darshan Institute  to  promote Excellence Coding.
								We Provide competitive Programs to set the bar higher and give more opportunities to Grow.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!--end::Footer-->