@model ProgrammingCode.Areas.PRO_ProgramSolution.Models.PRO_ProgramSolutionModel

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title ">
            <span class="me-2"><i class="fa fa-search"></i></span> Search
            <small></small>
        </h3>
 
    </div>
    <div class="card-body">
        <form id="filterForm" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#SearchResult"
              data-ajax-success="OnSuccess(this.id,data, status, xhr);" data-ajax-failure="OnFailure(xhr, status, error);"
              asp-action="_SearchResult" asp-controller="PRO_ProgramSolution" novalidate="novalidate" asp-area="PRO_ProgramSolution">
            @Html.AntiForgeryToken()

            <div class="row">
 
                <div class="col-md-4" autofocus>
                    <label > Program</label>
                    <div class="input-group" >
                        <span class="input-group-text"><i class="bi bi-code-slash fs-4"></i></span>
                        <div class="overflow-hidden flex-grow-1">
                        <select class="form-select form-select-sm " data-allow-clear="true" tabindex="-1" asp-for="ProgramID" asp-items="@(new SelectList(ViewBag.ProgramcomboList,"ProgramID","Defination"))" data-control="select2" data-placeholder="Select Program" autofocus>
                            <option> Select Program</option>
                        </select>
                        </div>
                    </div>
                </div>
         
                <div class="col-md-4">
                    <div class="form-group">
                        <label > Langauge</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-filetype-java fs-4"></i></span>
                    <div class="overflow-hidden flex-grow-1">
                        <select class="form-select form-select-sm " data-allow-clear="true" tabindex="-1" asp-for="ProgrammingLangaugeID" asp-items="@(new SelectList(ViewBag.ProgrammingLangaugecomboList,"ProgrammingLangaugeID","ProgrammingLangaugeName"))" data-control="select2" data-placeholder="Select Programming Langauge">
                                <option>Select Langauge</option>
                            </select>
                    </div>
                            
                        </div>
                        
                    </div>
                </div>
              @*  <div class="col-md-4">
                    <div class="form-group">
                        <label class="">Program Number</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                            <input type="text" asp-for="F_ProgramNumber" class="form-control" placeholder="Enter Program Number " />
                        </div>
                        @Html.ValidationMessageFor(m => m.F_ProgramNumber,"", new { @class = "form-text text-danger" })
                    </div>
                </div>*@
               
            </div>

            <hr />
            
            <input type="submit" value="Search" class="btn btn-success btn-sm" />
        </form>
    </div>
</div>