@foreach (var item in ViewBag.PagedListPager)
{
    

<div class="row">
    <div class="col-md-12">
        <!-- pager -->
        <script>
            console.log(@Model.EndPageNo)
        </script>
            @if (@item.EndPageNo >= 1)
        {
            <div class="btn-group btn-group-sm">
                <script>console.log(@item.CurrentPageNo)</script>
                @if (item.CurrentPageNo > 1)
                {
                    <a type="button" class="pager-item btn g-py-4 "
                       href="/@ViewBag.LanguageUrl/PN=1">
                        <i class="la la-angle-double-left pt-3"></i>
                    </a>

                    <a type="button" class="pager-item btn g-py-4 "
                           href="/@ViewBag.LanguageUrl/PN=@(item.CurrentPageNo-1)">
                        <i class="la la-angle-left pt-3"></i>
                    </a>
                }


                    @for (int pageNo = item.StartPageNo; pageNo <= item.EndPageNo; pageNo++)
                {
                        <a type="button" class="pager-item btn g-py-4 @(pageNo == item.CurrentPageNo ? " btn-brand" : "btn-secondary" )"
                       href="/@ViewBag.LanguageUrl/PN=@pageNo">
                        @pageNo
                    </a>
                }

                    @if (item.CurrentPageNo < item.TotalPages)
                {
                    <a type="button" class="ager-item btn g-py-4"
                           href="/@ViewBag.LanguageUrl/PN=@(item.CurrentPageNo+1)">
                        <i class="la la-angle-right pt-3"></i>
                    </a>

                    <a type="button" class="ager-item btn g-py-4 "
                           href="/@ViewBag.LanguageUrl/PN=@item.TotalPages">
                        <i class="la la-angle-double-right pt-3"></i>
                    </a>
                }
            </div>
        }
    </div>
</div>
}
