@model ProgrammingCode.Areas.MST_ProgrammingCode.Models.MST_ProgrammingLangaugeModel
@{
    ViewBag.Header = "Programming Langauge -" + ViewBag.Action;
    Layout = "~/Views/Shared/AdminPanel/_Layout.cshtml";
   
}

<div class="card  shadow-sm mt-5">
    <div class="card-header">
        <h3 class="card-title fw-bolder">@ViewBag.Action Programming Langauge</h3>
        <div class="card-toolbar">
        </div>
    </div>
    <div class="card-body">
        <h4 class="title text-danger fw-bolder">Langauge Details</h4>
        <div class="">
            <form id="formAddEditSave_UMS" data-method="post" enctype="multipart/form-data"
                  asp-area="MST_ProgrammingLangauge" asp-action="_Save" asp-controller="MST_ProgrammingLangauge">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ProgrammingLangaugeID)

                <div class="form-group row">
                    <div class="col-md-4">
                    <label class="required col-form-label ">Langauge Name</label> 
                        <input type="text" id="textOne" asp-for="ProgrammingLangaugeName" class="form-control" placeholder="Enter Programming Langauge Name" autofocus" />
                        @Html.ValidationMessageFor(m => m.ProgrammingLangaugeName, "", new { @class = "form-text text-danger" })
                    </div>
      
                    <div class="col-md-4">
                        <label class="required col-form-label">Sequence</label>
                        <input type="text" asp-for="Sequence" class="form-control" placeholder="Sequnce" />
                    </div>
               
                    <div class="col-md-4">
                        <label class="col-form-label"> Logo For Langauge</label>
                        <input type="file" asp-for="File" class="form-control" placeholder="uplod Logo " />

                    </div>
                   
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                    <label class="col-form-label"> Short Description</label>
                    <textarea type="text" id="editor1" asp-for="ProgrammingLangaugeShortDescription" class="form-control" placeholder="Enter short Description"></textarea>
                       
                    </div>
                </div>
                <div class="form-group row">
                    
                    <div class="col-md-12">
                        <label class="col-form-label"> Detailed Description</label>
                        <textarea type="text" id="editor2" asp-for="ProgrammingLangaugeDetailedDescription" class="form-control" placeholder="Enter Detailed Description"></textarea>
                       
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-md-12">
                    <label class="col-form-label"> Description</label>
                        <textarea type="text" id="editor3" asp-for="Description" class="form-control" placeholder="Enter Detailed Description"></textarea>
                      
                    </div>
                </div>

               
                <h4 class="title text-danger fw-bolder">Meta Details</h4>
                <div class="form-group row">
                    <div class="col-md-4">
                        <label class="col-form-label">Meta Title</label>
                        <input type="text" asp-for="MetaTitle" class="form-control" placeholder="Meta Title" />
                </div>
                    <div class="col-md-4">
                        <label class="col-md-4 col-form-label">Meta Keywords</label>
                        <input type="text" asp-for="MetaKeywords" class="form-control" placeholder="Meta Keywords" />

                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label" placeholder="Meta Author">Meta Author</label>
                        <input type="text" asp-for="MetaAuthor" class="form-control" placeholder="Meta Author" />

                    </div>
                </div>
               
                <div class="form-group row">
                    <div class="col-md-6">
                    <label class="col-form-label">Meta Description</label>
                        <textarea type="text" asp-for="MetaDescription" class="form-control" placeholder="Meta Decription" ></textarea>
                    </div>
                    <div class="col-md-6">
                        <label class=" col-form-label" placeholder="Meta Og Title">Meta Og Image</label>
                        <input type="file" asp-for="File2" class="form-control" placeholder="uplod Og Image " />

                    </div>
                </div>
                <div class="form-group row">
                     <div class="col-md-6">
                        <label class="col-form-label">Meta Og Title</label>
                        <input type="text" asp-for="MetaOgTitle" class="form-control" placeholder="Meta Og Type"/>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label">Meta Og type</label>
                        <input type="text" asp-for="MetaOgType" class="form-control" placeholder="Meta Og Type" />

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                    <label class="col-form-label">Meta Og Url</label>
                        <input type="text" asp-for="MetaOgUrl" class="form-control" placeholder="Meta Og Url" />

                    </div>
                <div class="form-group row">
                        <div class="col-md-12">
                    <label class="col-form-label">Meta Og Description</label>
                            <textarea type="text" asp-for="MetaOgDescription" class="form-control" placeholder="Meta Og Description" > </textarea>
                    
                    </div>
                </div>
               
                </div>
               
                <hr class="form-button-divider" />
                <div class="row">
                    <div class="offset-md-4 col-md-8">
                        <input type="submit" value="Save" class="btn btn-primary btn-sm js-btn-form-submit" />
                        <button type="button" class="btn btn-light btn-sm">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor1'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link'],
            language: 'en'
        })
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor2'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link'],
            language: 'en'
        })
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    ClassicEditor
        .create(document.querySelector('#editor3'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link'],
            language: 'en'
        })
        .catch(error => {
            console.error(error);
        });
</script>