<!--begin::sidebar menu-->
<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
    <!--begin::Menu wrapper-->
    <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
        <!--begin::Menu-->
        <div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
            <!--begin:Menu item-->
            <div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
                <!--begin:Menu link-->
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="bi bi-grid fs-3"></i>
                    </span>
                    <span class="menu-title">Dashboards</span>
                    <span class="menu-arrow"></span>
                </span>
                <!--end:Menu link-->
                <!--begin:Menu sub-->
                <div class="menu-sub menu-sub-accordion">
                    <!--begin:Menu item-->
                    <div class="menu-item">
                        <!--begin:Menu link-->
                        <a class="menu-link active" asp-action="Index" asp-controller="Dashboard" asp-area="Dashboard">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Default</span>
                        </a>
                        <!--end:Menu link-->
                    </div>
                    <!--end:Menu item-->
                </div>
                <!--end:Menu sub-->
            </div>
            <!--end:Menu item-->
            <!--begin:Menu item-->
            <div class="menu-item pt-5">
                <!--begin:Menu content-->
                <div class="menu-content">
                    <span class="menu-heading fw-bold text-uppercase fs-7">Pages</span>
                </div>
                <!--end:Menu content-->
            </div>
            <!--end:Menu item-->
           
            <!--begin:Menu item-->
            <div class="menu-item">
                <!--begin:Menu link-->
                <a class="menu-link" asp-action="Index" asp-controller="MST_Level" asp-area="MST_Level">
                    <span class="menu-icon">
                        <i class="bi bi-water fs-3"></i>
                    </span>
                    <span class="menu-title">Level</span>
                </a>
                <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
            <!--begin:Menu item-->
            <div class="menu-item">
                <!--begin:Menu link-->
                <a class="menu-link" asp-action="Index" asp-controller="MST_ProgrammingLangauge" asp-area="MST_ProgrammingLangauge">
                    <span class="menu-icon">
                        <i class="bi bi-filetype-java fs-3"></i>
                    </span>
                    <span class="menu-title">Langauge</span>
                </a>
                <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
 
             <!--begin:Menu item-->
            <div class="menu-item">
                <!--begin:Menu link-->
                <a class="menu-link"asp-action="Index" asp-controller="MST_Topic" asp-area="MST_Topic">
                    <span class="menu-icon">
                        <i class="bi bi-box fs-3"></i>
                    </span>
                    <span class="menu-title">Topic</span>
                </a>
                <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
            <!--begin:Menu item-->
            <!--begin:Menu item-->
            <div class="menu-item">
                <!--begin:Menu link-->
                <a class="menu-link" asp-action="Index" asp-controller="PRO_Program" asp-area="PRO_Program">
                    <span class="menu-icon">
                        <i class="bi bi-code-slash fs-3"></i>
                    </span>
                    <span class="menu-title">Programs</span>
                </a>
                <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
                       <!--begin:Menu item-->
            <div class="menu-item">
                <!--begin:Menu link-->
                <a class="menu-link" asp-action="Index" asp-controller="PRO_ProgramSolution" asp-area="PRO_ProgramSolution">
                    <span class="menu-icon">
                        <i class="bi bi-braces fs-3"></i>
                    </span>
                    <span class="menu-title">Solutions</span>
                </a>
                <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
            <!--end:Menu item-->
            <!--begin:Menu item-->
            <div class="menu-item">
                <!--begin:Menu link-->
                <a class="menu-link" asp-action="Index" asp-controller="PRO_ProgramTestCase" asp-area="PRO_ProgramTestCase">
                    <span class="menu-icon">
                        <i class="bi bi-water fs-3"></i>
                    </span>
                    <span class="menu-title">Tast Case</span>
                </a>
                <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
            <!--begin:Menu item-->
            <div class="menu-item">
                <!--begin:Menu link-->
                <a class="menu-link" asp-action="Index" asp-controller="SEC_User" asp-area="SEC_User">
                    <span class="menu-icon">
                        <i class="bi bi-person fs-3"></i>
                    </span>
                    <span class="menu-title">User</span>
                </a>
                <!--end:Menu link-->
            </div>
            <!--end:Menu item-->


        </div>
        <!--end::Menu-->
    </div>
    <!--end::Menu wrapper-->
</div>
<!--end::sidebar menu-->